<div class="container mt-3">

  <p style="color: green"><%= notice %></p>

  <h1>Rooms</h1>

  <%= turbo_stream_from :rooms_list %>

  <div id="room_content">
    <% @rooms.each do |room| %>
      <%= render room %>
      <p>
        <%= link_to "Show this room", room %>
      </p>
    <% end %>
  </div>

  <%= link_to "New room", new_room_path %>
</div>
